
/* =============================================================
   GENERAL STYLES
 ============================================================ */
 h1 {
color:rgba(143, 4, 32, 1);
}

/* =============================================================
  BUTTON SECTION STYLES
 ============================================================ */
.custom-btn-one {
   border-color: rgba(143, 4, 32, 1);
}
   
/* =============================================================
  HOME SECTION STYLES
 ============================================================ */

 #home-sec .main-img {     
   border:5px solid rgba(143, 4, 32, 1);}
 #home-sec .main-img-2 {
   border:5px solid rgba(143, 4, 32, 1);
}
    .icon-round:hover {
        background-color:rgba(143, 4, 32, 1);
    }

.icon-round-active {
      background-color:rgba(143, 4, 32, 1);
}


/* =============================================================
  SKILL SECTION STYLES ( easy-pie-chart css)
 ============================================================ */
    #skill-sec h4 {
color:rgba(143, 4, 32, 1);
}
      /* =============================================================
  DOWNLOAD SECTION STYLES
 ============================================================ */
.board .tab-content i {
    color:rgba(143, 4, 32, 1);
}

  /*=====================================
  TESTIMONIALS STYLES 
    ===================================*/

    #testimonial-main img {
        border:3px solid rgba(143, 4, 32, 1);
    }
    /*=====================================
  PORTFOLIO STYLES 
    ===================================*/

.portfolio-sec-wrap .overlay {
    background-color: rgba(143, 4, 32, 0.63)
}

 /*=====================================
  FOOTER STYLES 
    ===================================*/
#footer-sec h3{
    color: rgba(143, 4, 32, 1);
}
#footer-sec i{
    color:rgba(143, 4, 32, 1);
}
 /*=====================================
  SCROLLUP STYLES 
    ===================================*/
a.scrollup {
background:rgba(143, 4, 32, 1);

}
.PULOK{
	color:rgba(143, 4, 32, 1);
}
.submit_form{
border-color: rgba(143, 4, 32, 1);
}